<h1>Open Gestalt!</h1>

<%= form_for @gestalt, url: {action: 'create'}, remote: true, html: {placeholder: 'title'} do |f| %>
	<%= f.text_field :title %>
<% end %>

<ul class='gestalts'>
	<%= render 'gestalt_list' %>
</ul>